###############################
#  Core EditorConfig Options  #
###############################

# Root config.
root = true

# All files.
[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = false

# Markdown.
[*.md]
max_line_length = off
trim_trailing_whitespace = false
